.checkbox-label {
  position: relative;
  padding-left: 1.5rem;
  cursor: pointer;
  &::after {
    position: absolute;
    content: '';
    width: 1rem;
    height: 1rem;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url('../../../public/asset/images/checkbox.svg');
    background-size: cover;
  }

  &[data-checked='true'] {
    &::after {
      background: url('../../../public/asset/images/checkbox_checked.svg');
      background-size: cover;
    }
  }
}
.checkbox-input {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  opacity: 0;
  border: 0;
}
