.form {
  &.style {
    &-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      > label {
        flex: 1 1;
        input {
          border-radius: 0.5rem 0 0 0.5rem;
        }
      }
      > .button {
        flex: 0 0;
        border-radius: 0 0.5rem 0.5rem 0;
      }
    }
  }
}
