.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  > .button,
  > .link {
    position: relative;
    margin-right: 0.8rem;
    &:last-child {
      margin-right: 0;
    }
    &::after {
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0%;
      height: 2px;
      content: '';
      transition: width 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
      background-color: var(--main-color);
    }
    &:hover,
    &:focus {
      &::after {
        width: 100%;
      }
    }
    &.isActive {
      &::after {
        width: 100%;
      }
    }
  }
}
