body,
body[data-theme='light'] {
  --background-color: #43434f;
  --font-color: #000000;
  --main-color: #ff8a71;
  --box-color-100: #fcf8ff;
  --box-color-200: #f5f4f6;
}

body[data-theme='dark'] {
  --background-color: #464555;
  --font-color: #ffffff;
  --main-color: #ff8a71;
  --box-color-100: #474664;
  --box-color-200: #1a1b35;
}
